@using OneweekNutrition.Models


@model OneweekNutrition.Models.User









<div  class="modal fade" id="uploadUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <form  id="UserForm">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rejestracja</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="HideRegister()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>





                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <br />
                          

                            <label> Nazwa</label>
                            <input asp-for="Name" class="form-control" id="ComponentName" autocomplete="off" />
                            <span class="text-danger" asp-validation-for="Name"></span>


                            <label>Login</label>
                            <input asp-for="Login" class="form-control" id="UserLogin"  autocomplete="off" />

                            <label>Hasło</label>
                            <input asp-for="Password" class="form-control" id="UserPassword" type="password" autocomplete="off" />

                            

                        </div>

                       
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" onclick="RegisterUser()" class="btn btn-success" data-dismiss="modal">Dodaj</a>
                    <input type="hidden" id="currentemcode" value="1" />
                </div>

            </div>
        </div>
    </form>

</div>







<style>
    /*                                          INPUT                       */


    .custom-file-input {
        color: transparent;
    }

        .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
        }

        .custom-file-input::before {
            content: 'Select some files';
            color: black;
            display: inline-block;
            background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
            border: 1px solid #999;
            border-radius: 3px;
            padding: 5px 8px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 10pt;
        }

        .custom-file-input:hover::before {
            border-color: black;
        }

        .custom-file-input:active {
            outline: 0;
        }

            .custom-file-input:active::before {
                background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
            }

    body {
        padding: 20px;
    }











    /*                                              KOLUMNY                                          */

    * {
        box-sizing: border-box;
    }

    .row {
        display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        flex: 50%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }

</style>
