<div class="card card_slide">
    Poniedziałek
    <div class="card-body">
        <h5 class="card-title">1</h5>

        <div class="card card_Stats">
            <div class="card-body">
                Icona + Statystyka ile kalorii w całym dniu
            </div>
        </div>

        <br />

        <div class="card">
            <div class="card-header">
                Śniadanie
                <br />
                500 Kalorii

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
            </ul>
        </div>
        <br />


        <div class="card">
            <div class="card-header">
                Obiad
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
            </ul>
        </div>

        <br />

        <div class="card">
            <div class="card-header">
                Kolacja
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
            </ul>
        </div>


    </div>
</div>